
    <footer>
        <div class="container">
            <div class="row">

              <div class="pull-center">

          <ul class="brands brands-inline brands-sm brands-transition brands-circle">
                        <li><a href="#" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>


              </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-copyright">
                    <p>© <a href="/">CloseCallDatabase</a> 2015</p>
                </div>


                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li><a href="/">Home</a></li>
                    <li><a href="/news/">News</a></li>
                    <li><a href="/articles/">Blog</a></li>
                    <li><a href="/faq/">Faq</a></li>
                    <li><a href="/privacy/">Privacy</a></li>
                </ul>
            </div>

        </div>
    </footer>
