    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
    <script src="/static/theme/js/bootstrap.min.js"></script>
    <script src="/static/theme/js/waypoints.min.js"></script>
    <script src="/static/theme/js/owl.carousel.js"></script>
    <script src="/static/theme/js/isotope.pkgd.min.js"></script>
    <script src="/static/theme/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/theme/js/creative-brands.js"></script>
    <script src="/static/theme/js/color-switcher.js"></script>
    <script src="/static/theme/js/jquery.countTo.js"></script>
    <script src="/static/theme/js/jquery.countdown.js"></script>
    <script src="/static/theme/js/custom.js"></script>
    <script src="/static/js/navbar-active.js"></script>
