Django==5.1.3
psycopg2-binary
django-crispy-forms
crispy-bootstrap3
django-extensions
djangorestframework
Pillow
python-dotenv
django-environ
geopy
Markdown
requests
ipython
django-summernote
django-registration-redux