Django==1.7.7
Jinja2==2.7.3
Markdown==2.5.2
MarkupSafe==0.23
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
distribute==0.6.49
django-appconf==0.6
django-crispy-forms==1.4.0
django-extensions==1.4.6
django-filter==0.11.0
django-registration-redux==1.1
django-summernote==0.6.0
djangorestframework==3.3.1
geopy==1.4.0
gnureadline==6.3.3
ipython==2.3.0
prettyprint==0.1.5
psycopg2==2.6.1
pyzmq==14.4.1
requests==2.5.0
simplejson==3.6.5
six==1.8.0
stevedore==0.12
tornado==4.0.2
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
