{% extends "sitebase.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{%block navigation %}{% include '_nav-full.html' %} {% endblock %}

{% block content %}

<div class="jumbotron">

<b>
{% blocktrans %}
<p>Your account has been activated. Thank you for becoming part of the Close Call community and working to make cycling safer for everyone.</p>
<p>Here is a quick reminder of your registered account details:</p>
{% endblocktrans %}
</b>


<hr style="border-color:darkgrey;">
{# <p>{% trans "A quick reminder of your account details" %} #}
<br />
<p>{% trans "Your user name for this site is : " %} <span style="color: blue">{{ user.username}}</span></p>
<p>{% trans "Your registered email address is: " %}<span style="color: blue">{{ user.email}}</span></p>

<br />
<hr>


<p>
{% trans "Proceed to the " %}<a href="{% url 'home' %}">home page</a> {% trans " or " %}<a href="{% url 'create-incident' %}">{% trans "report an incident" %}</a>
</p>


{% if not user.is_authenticated %}
  <p>{% trans "Please " %}<a href="/accounts/login/">Login</a>
{% endif %}

</div>

{% endblock %}
