{% extends "sitebase.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{%block navigation %}{% include '_nav-loggedin.html' %} {% endblock %}

{% block content %}

<div class="col-sm-4">
  <form action="" method="POST">
  {% csrf_token %}
    {{ form|crispy }}
    <br />
    <input type="submit" class="btn btn-default" value='{% trans "Log in" %}' />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div style="padding-top:20px;">
    <p>{% trans "Forgot your Password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not a Member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
  </div>

</div>

{% endblock %}
