{% extends "sitebase.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock %}

{%block navigation %}{% include '_nav-loggedin.html' %} {% endblock %}

{% block extra_css_or_js %}
<style>
  #div_id_trap_email {
      position: absolute;
      left: -9999px;
      width: 1px;
      height: 1px;
      overflow: hidden;
  }
</style>
{% endblock %}

{% block content %}

{% if messages %}
<div class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">
<ul>
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><em><b>{{ message|safe }}</b></em></li>
    {% endfor %}
</ul>
</div>
<br />
{% endif %}

<div class="col-sm-12">
<p><em>If you are a regular Strava user and you registered using Strava</em>, then login with strava . . .</p>
</div>
<div class="col-sm-4">
  <div class="strava" style="padding: 16px 0 26px 0;">
    <!-- <a href="/get-strava-login"><img src="/static/images/LogInWithStrava.png"></a> -->
    <a href="/get-strava-login-from-login" class="js-strava-login"><img src="/static/images/LogInWithStrava@2x.png"></a>
  </div>
</div>
<div class="col-sm-12" style="padding-bottom: 16px;">
  <p>If you did not register with Strava, then login here . . .</p>
</div>

<div class="col-sm-4">
  <form action="" method="POST">
  {% csrf_token %}
    {{ form|crispy }}
    <div id="div_id_trap_email">
      <label for="id_trap_email">Email</label>
      <input type="email" name="trap_email" id="id_trap_email" autocomplete="off" tabindex="-1" aria-hidden="true" class="hp-email-field" />
    </div>
    <br />
    <input type="submit" class="btn btn-default" value='{% trans "Log in" %}' />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div style="padding-top:40px;">
    <p>{% trans "Forgot your Password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not a Member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
  </div>

</div>

{% endblock %}
