{% extends "sitebase.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="alert alert-success" style="margin: 20px 0;">
      <h4 style="margin-top: 0;"><span class="glyphicon glyphicon-ok"></span> Password Changed Successfully!</h4>
      <p style="margin-bottom: 0;">Your password has been updated. Use your new password the next time you log in.</p>
    </div>

    <p>
      <a href="{% url 'home' %}" class="btn btn-default">Return to Home</a>
      <a href="/user-profile-detail/{{ user.profile.id }}/" class="btn btn-default" style="margin-left: 10px;">View Your Profile</a>
    </p>
  </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}