{% extends "sitebase.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}{% trans "Create an Account" %}{% endblock %}

{%block navigation %}{% include '_nav-loggedin.html' %} {% endblock %}

{% block content %}

<div class="row-fluid">
<h3 style="padding-top:12px;">{% trans "Please Create Your Account " %}</h3>
<br />
</div>
<div class="col-sm-4">
<form action="" method="POST">
  {% csrf_token %}

      {{ form|crispy }}
      <input type="submit" class="btn btn-default" value="{% trans 'Create Account' %}" />

</form>
</div>

{% endblock %}
