{% extends "sitebase.html" %}

{% block page_title %}Close Call News{% endblock %}

{% block metatags %}
<meta name="description" content="A collection of news stories describing driver and motorist infractions against cyclists.">
<meta name="keywords" content="news, cycling, cyclist, database, accidents, incidents, aggressive, drivers">
<meta name="author" content="Ernest Ezis">
{% endblock %}

{% block extra_styles %}
h2 {
    color: black;
}
{% endblock %}

{% block content %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
<!-- PAGINATION
http://stackoverflow.com/questions/5907575/how-do-i-use-pagination-with-django-class-based-generic-listviews
-->
  <div class="page-header">

    <h2><small>Safety Related Cycling News</small></h2>
    <hr style="border-color:darkgrey;">
  </div>

   {% load markdown_filter %}

      {% for news in news_list %}
      <div style="background-color: whitesmoke; padding: 12px 18px 20px 18px; margin-bottom: 30px;">
        <p><h4>{{news.title}}</h4></p>
        {# <span>{{ news.report_on|date:"D, M d, Y" }}</span><br> #}
        <p>{{news.summary|markdownify|safe}}</p>
        {# {% if news.tags %}<p  style="font-size: 0.95em; font-weight: 300;"><mark><samp>tags: {{news.tags}}</samp></mark></p>{% endif %} #}

        {% if news.url %}
        <p style="font-size: 1.1em; padding-top:10px;">
          {% if news.source %}
            Read the full article at <a href="{{news.url}}" target="_blank"><em>{{news.source}}</em></a>
          {% else %}
            <a href="{{news.url}}" target="_blank">Read More . . .</a>
          {% endif %}
        </p>


        {% if news.tags %}
          <p  style="font-size: 0.95em; font-weight: 300; padding-top: 10px;"><samp>TAGS: {{news.tags}} {% if news.source %}<span class="pull-right">Credit: {{news.source}}</span>{% endif %}</samp></p>
        {% endif %}


        {% endif %}

      </div>
      {% endfor %}

   {# Total = {{ news_list.count }}</p> #}
   {# .... **Now the pagination section** .... #}

<!-- THIS WORKS
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/news?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/news?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

-->

{% if is_paginated %}
<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
      <li class="previous"><a href="/news?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="next"><a href="/news?page={{ page_obj.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>

</div>
 {% endif %}

{% endblock %}


