<!-- This template is for specifically revealed incident reports -->

{% extends "sitebase.html" %}
{% load crispy_forms_tags %}

{% block page_title %}CCDB Incident Report{% endblock %}

{% block metatags %}
<meta name="description" content="A database for the cycling community to document and record aggressive driving infractions by motorists">
<meta name="keywords" content="cycling, cycles, database, accidents, incidents, aggressive, drivers, driving">
<meta name="robots" content="noindex">
{% endblock %}

{% block extra_css_or_js %}
{# <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> #}
{# <script src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&callback=initMap"</script> #}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&callback=initMap" type="text/javascript"></script>

 <script type="text/javascript">

    var incLat = parseFloat('{{incident.get_lat}}');
    var incLng = parseFloat('{{incident.get_lon}}');

    function initMap() {
        console.log('at maps', incLat, incLng);
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: { lat: incLat, lng: incLng },
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
    }

    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(incLat, incLng),
        map: map
    });

    marker.setVisible(true);
</script>

{% endblock %}

{% block extra_styles %}
.description_section p {font-weight: 600}
{% endblock %}


{%block navigation %}
  {% if user.is_authenticated %}
    {% include '_nav-loggedin.html' %}
  {% else %}
    {% include '_nav-full.html' %}
  {% endif %}
{% endblock %}

{% block content %}


<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 40px;">

{% if user.is_authenticated %}

{# STAFF CAN SEE USER NAME AND EMAIL #}
{% if user.is_active and user.is_staff %}
    <p><span style="padding-right:20px;">{{incident.user}}</span>{{incident.user.email}}</p>
    <p>{{incident.user.profile.first}} <span style="padding-right:20px;">{{incident.user.profile.last}}</span>{{incident.user.email}}</p>
    {% comment %}
    <!-- added for debugging new feature -->
    <p>youtube_url = {{incident.youtube_url}}</p>
    <p>embed</p>
    <p>{{incident.video_embed_string}}</p>
    {% endcomment %}

    <form method="POST" class="post-form" action="{% url 'incident:admin-scoring' incident.id %}">
        {% csrf_token %}
       {#  {{ admin_score_form.as_p }} #}
       {{ admin_score_form|crispy }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endif %}

  <div class="page-header" style="padding-bottom:0px;">
    <h2><small>{{incident.date}}</small></h2>
    <h2><small><span>{{incident.address}}</small></h2>
    <hr style="border-color:darkgrey;">
  </div>

  <div class="description_section">
    {% if incident.vehicle_description %}
    <p>{{incident.vehicle_description}}</p>
    {% endif %}
    {% if incident.license_certain %}
    <p>License Plate: {{incident.license_certain}}</p>
    {% endif %}
    {% if incident.license_uncertain %}
    <p>License Plate (may not be 100% correct): {{incident.license_uncertain}}</p>
    {% endif %}
  </div>

    {# the <hr> tag has to be conditional #}
    {% if incident.vehicle_description or incident.license_certain or incident.license_uncertain %}<hr>{% endif %}

    {# the report #}
    <div style="padding: 18px 0 18px 0;">{{incident.what|safe}}</div>
    {% if incident.video_embed_string %}
      <div style="padding: 18px 0 18px 0;">{{incident.video_embed_string|safe}}</div>
    {% endif %}
    <hr>
    <br />
    <p>This incident was reported as: <b>{{incident.danger_level}}</b></p>
    <br />
    {% if incident.driver_is_considered_dangerous %}
     <div class="bg-info" style="padding: 20px 20px; 10px; 20px;">

    <p style="color:red"><b>Based on this report, this driver is considered a danger to cyclists.</b></p>
    <p>If you have had an encounter with this vehicle, please <a href="{% url 'incident:create-incident' %}"><b>REPORT IT</b></a></p>
    <p>If you can identify this driver, please email closecalldatabase at gmail and reference "Incident {{linker_incident_num}}" </p>
      </div>
    {% endif %}
    <br />
    Hint: Use the Street View feature to put the report into context: 1) Zoom in (six clicks is good), then 2) drag the "man" above the "+" sign over to the road where the red marker sits on the map.
    <br /><br />

    {# Show the map here #}
    <div id="map" style="height: 600px; width: 100%"></div>

</div>

{% else %}

  <div class="page-header" style="padding-bottom:0px;">
    <h2><small>Incident Reports are only available to registered cyclists.</small></h2>

    <hr style="border-color:darkgrey;">

    <p><b>If you are a Strava user, simply...</b></p>
    <p style="margin-top:20px;">
      <a href="/get-strava-login"><img src="https://closecalldatabase.com/static/images/LogInWithStrava.png"></a>
    </p><br/>
    <p>
    If you are <b>not</b> a Strava user, simply create an account...
    </p>

    <p style="margin-top:20px;">
      <button type="button" class="btn btn-primary">Create An Account</button></a>
    </p>

{% endif %}


{% block extra_script %}
<script>

$( document ).ready( initialize );
$( document ).ready( codeLatLng );

var geocoder;
var map;
var infowindow = new google.maps.InfoWindow();
var marker;
var lat = parseFloat('{{incident.get_lat}}');
var lng = parseFloat('{{incident.get_lon}}');

function initialize()
{
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById("map"),
    {
        zoom: 14,
        center: new google.maps.LatLng(lat, lng),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
}

function codeLatLng()
{

    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status)
    {
        if (status == google.maps.GeocoderStatus.OK)
        {
            if (results[0])
            {
                map.setZoom(11);
                marker = new google.maps.Marker(
                {
                    position: latlng,
                    map: map
                });
                infowindow.setContent(results[0].formatted_address);
                infowindow.open(map, marker);
            }
            else if (results[1])
            {

                alert(results[1].formatted_address);
            }
            else
            {
                alert("No results found");
            }
        }
        else
        {
            alert("Geocoder failed due to: " + status);
        }
    });
}
</script>
{% endblock %}

{% endblock %}