{% extends "sitebase.html" %}

{% block title %}Your Incident Reports{% endblock %}

{%block navigation %}{% include '_nav-loggedin.html' %} {% endblock %}

{% block content %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
<h2>Your Reported Incidents</h2>
  <div class="page-header">
    <h2><small>
     These are the incidents that you have reported.
    </small></h2>
    <hr style="border-color:darkgrey;">
      {% if object_list %}

          <div class="row" style="padding-left:15px;">
             {% for object in object_list %}
              {# <p><a href="{% url 'incident-detail' %}">{{ object }}</a></p> #}
              <p style="font-size: 1.1em;">
              <a href="/incident/detail/{{object.pk}}">{{ object.what|truncatewords:10 }}</a>
              <span class="pull-right">
              <span style="padding-left: 15px;"><a href="/incident/update/{{object.pk}}">Update</span>
              <span style="padding-left: 15px;"><a href="/incident/delete/{{object.pk}}">Delete</span>
              </span>

              </p>
            {% endfor %}
          </div>

      {% else %}
      <p>You have not reported any incidents.</p>
      {% endif %}

  </div>
</div>


{% endblock %}