{% extends "sitebase.html" %}

{% load crispy_forms_tags %}

{% block page_title %}Incident Report{% endblock %}

{% block metatags %}
    <meta name="robots" content="noindex">
{% endblock %}

{%block navigation %}{% include '_nav-loggedin.html' %} {% endblock %}

{% block content %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
<h2>Incident Details</h2>

  <hr>

  <div class="row">
    <p>Location: {{object.address}}</p>
    <p>Date: {{object.date}} Time: {{object.timestr}}</p>
    <hr>
    <p>{{object.what|safe}}</p>
    <!-- <p>{{object.position}}</p> 40.07546742217893,-105.50420266218259 -->
    <!-- <hr style="border-color: blue;"> -->
  </div>

  <hr>

  <a href="/incident/update/{{object.pk}}">Update This Report</a>

</div>

{% endblock %}