
{% extends "sitebase.html" %}

{% block page_title %}Close Call Database - Blog{% endblock %}

{% block metatags %}
<meta name="description" content="Blog postings and articles from users at The Close Call Database for Cycling">
<meta name="keywords" content="blog, cycling, cyclist, database, accidents, incidents, aggressive, drivers, bicyling, ">
<meta name="author" content="various contributors">
{% endblock %}

{% block extra_styles %}
h2 small{
    color: black;
}

p.about {
    font-size: 0.98em;
    font-style: italic;
}

p {
    color: black;
}

.title{
    font-size:1.20em;
    font-weight:600;
}
.synopsis{
    padding: 12px 0 0 20px;
    font-size: 0.98em;
}


{% endblock %}

{% block content %}

{% comment %}
{% if messages %}
<div class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">
<ul>
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><em><b>{{ message|safe }}</b></em></p>
    {% endfor %}
</ul>
</div>
<br />
{% endif %}
{% endcomment %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 40px;">

  <div class="page-header" style="padding-bottom: 4px;">
    <h2><small>A Quick Note Before You Report An Incident</small></h2>
    <hr style="border-color:darkgrey; padding-bottom:24px;">
    <p >This site was created because I suspected that there was a need for a service like this. Now, with so many cyclists registering from all over the world, the question of need has been satisfied and I am going to turn my attention to adding more site features and building out the infrastructure required to support a large community.</p>

    <p>For this site to succeed, it needs to focus on its core mission at this stage of development: <b>the identification of aggressive motorists that seem to be harrasing cyclists <em>intentionally</em></b>. Accordingly, intent is an important criteria for filing a report.</p>

    <p>So before you file a report, think carefully about whether the incident was the result of carelessness, ignorance (some drivers violate the three foot rule because they simply believe it's illegal to cross a double yellow line for example), or was a simple mistake. While I think collecting that sort of data does have some value, it doesn't have the same value as focusing on incidents that are clearly intentional. At this stage of the game, there is no point in reporting every three foot violation you experience, unless it is the same vehicle, doing it to you repeatedly and on purpose.</p>

    <p>If you believe your encounter was <b><em>intentional</em></b> and believe the action may be repeated or visited upon other cyclists please proceed.</p>

    <br />
    <p><a href="{% url 'create-incident' %}"><button type="button" class="btn btn-success btn-lg" style="color:beige;">I Wish To Report An <b>Intentional</b> Incident</button></a></p>

    <br />
    <p><small><em>Other options will be available in the future.</em></small></p>
<!--
   get data for other classificaitons, send to input form
    <br />

-->


  </div>


</div>

{% endblock %}


