{% extends "sitebase.html" %}

{# {% block metatags %}
<meta name="description" content="A database for the cycling community to document and record aggressive driving infractions by motorists">
<meta name="keywords" content="cycling, cyclise, database, accidents, incidents, aggressive, drivers">
{% endblock %}
 #}

{% block page_title %}Close Call Database - Reported Incident{% endblock %}

{%block navigation %}
  {% if user.is_authenticated %}
    {% include '_nav-loggedin.html' %}
  {% else %}
    {% include '_nav-full.html' %}
  {% endif %}
{% endblock %}

{% block content %}


TEST

{% endblock %}





{% extends "sitebase.html" %}

{% block page_title %}Close Call News{% endblock %}

{% block metatags %}
<meta name="description" content="A collection of news stories describing driver and motorist infractions against cyclists.">
<meta name="keywords" content="news, cycling, cyclist, database, accidents, incidents, aggressive, drivers">
<meta name="author" content="Ernest Ezis">
{% endblock %}

{% block extra_styles %}
h2 {
    color: black;
}
{% endblock %}

{% block content %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">

  <div class="page-header">
    <h2><small>Page Title Stuff Goes Here</small></h2>
    <hr style="border-color:darkgrey;">
  </div>


</div>

{% endblock %}


