{% load markdown_filter %}

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'about' %}">About</a></li>

        {% if user.is_authenticated %}
        <!--
          <li><span class="glyphicon glyphicon-cog white" style="padding: 16px 0 2px 0;"></span></li>
          <li><a href="/accounts/logout/" >Logout</a></li>
        -->

         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog white" style="padding: 2px 0 2px 0;"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/user-profile-detail/{{user.profile.id}}" >Your Profile</a></li>
                <li><a href="/incident/list/">Your Reports</a></li>
                <li><a href="/accounts/logout/" >Logout</a></li>
              </ul>
          </li>

        {% else %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login/Register <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/accounts/login/" >Login</a></li>
                <li><a href="/accounts/register/" >Register</a></li>
              </ul>
          </li>

        {% endif %}

      </ul>
