    <br />
    <div>
        <a href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}"><img src="/static/buttons/facebook.png" height="42" width="42"></a>
        <a href="http://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}"><img src="/static/buttons/twitter.png" height="42" width="42"></a>
        <a href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}"><img src="/static/buttons/google.png" height="42" width="42"></a>
    </div>
    <br />