{% extends "sitebase.html" %}

{% block metatag %}
<meta name="description" content="A database for the cycling community to document and record aggressive driving infractions by motorists">
<meta name="keywords" content="cycling, cyclist, database, accidents, incidents, aggressive, drivers">

{% endblock %}
{% block title %}Close Call Database For Cycling{% endblock %}

{%block navigation %}
  {% if user.is_authenticated %}
    {% include '_nav-loggedin.html' %}
  {% else %}
    {% include '_nav-full.html' %}
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome back {{ user.username }}</p>
<hr>
{% if announcement %}
  {% for a in announcement %}
    <p class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">{{a.the_announcement}}</p>
  {% endfor %}
{% else %}
<!-- <p><span class="alpha">Alpha Notice:</span> Announcements -- if any -- will go here in future release</p> -->
<p>No announcements at this time.</p>
{% endif %}
<hr>
<p><span class="alpha">Alpha Notice:</span> Local Incidents -- if any -- will go here. This is a High Priority and will be implemented soon. </p>
{% if incidents %}
  <hr>
  <p class="text-center"><b>Your Incident Reports</b><br/></p>

  {% for incident in incidents %}
    <p><span style="padding-right: 28px; font-size:0.92em;">{{incident.date|date:"M d, Y" }}</span> <a href="/incident/detail/{{incident.id}}/">{{incident.what|truncatewords:15}}</a></p>
  {% endfor %}
{% else %}
<hr>
<!-- <p><span class="alpha">Alpha Notice:</span> A list of incidents reported by this user will go here</p> -->
<p>You have not reported any incidents.</p>
{% endif %}
<hr>
{% if news_stories %}
  <p class="text-center"><b>Recent News</b><br/></p>
  {% for news in news_stories %}
    <p style="padding-bottom: 18px;"><a href="/news/" style="color:black; text-decoration: none;"><em>{{news.title}}</em></a></p>
    {# {% if news.tldr %}<p style="padding: 4px 12px 30px 12px;"><small>{{news.tldr}}</small></p>{% endif %} #}
  {% endfor %}
{% else %}
<p><span class="alpha">Alpha Notice:</span> Short List of lastest news will go here in future release</p>
{% endif %}



{% else %} <!-- else not logged in! -->

{% if announcement %}
  {% for a in announcement %}
    <p class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">{{a.the_announcement}}</p>
  {% endfor %}
{% endif %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
<h2>Welcome to the Close Call Database</h2>
<hr>
<h3 style="padding-top: 12px;">A Community Project for Safer Cycling</h3>
  <div class="page-header" style="margin: 26px 0 20px;">

    <h2><small>
    Drivers that are hostile to cyclists are often serial offenders. Cataloging their aggression and documenting their hostility towards cyclists provides important information to fellow cyclists, local police and prosecutors. When you record an incident here, it will be shared with cyclists in your area. It can also be used by local police and prosecutors; providing police with a good reason to have an educational and behavior changing conversation with a problem driver and increasing the likelihood that justice is served if an aggressive motorist with a pattern of aggressive behavior collides with a cyclist at a later date.
    </small></h2>

    <h2><small>
    If you would like to be notified of aggressive drivers in your area, or if you would like to report an incident with a hostile driver please <a href="/accounts/register/" style="text-decoration: none;">register</a>.
    </small></h2>



  </div>
</div>
{% endif %}



{% endblock %}