.incidents {
    color: darkorange;
    text-align: center;
    padding-bottom: 20px;
}



.general{
    color: darkorange;
    text-align: center;
    padding-bottom: 14px;
}

{# dangerous #}
.level-10, .level-8 {
    color: red;
}

.pad-right { padding-right: 22px;}
.sm-pad-rt {padding-right: 6px;}

.level-5 { color: darkred; }

.level-3 { color: blue;}

.level-1 { color: orange; }

.indented { padding: 8px 16px 8px 16px;}

.incident-block { padding: 8px 0 8px 10px;}

.driver-summary { padding: 8px 16px 8px 16px; font-size:1.2em;}
.incident-summary {font-size:0.80em; padding-top:8px;}

.hpptitle {
    color: darkorange;
    text-align: center;
    padding-bottom: 10px;
}