{% extends "sitebase.html" %}

{% block metatags %}
<meta name="description" content="The Close Call Database helps cyclist to identify dangerous drivers in their area and to share that information with other cyclists and local authorities. The goal of the site is to find drivers that are harassing cyclists on purpose and change their behavior before they kill someone. Have you had a close call with a motorist that you feel was intentional? Report it here.">
<meta name="keywords" content="cycling, cyclist, database, accidents, incidents, aggressive, drivers">
{% endblock %}

{% block page_title %}Close Call Database For Cycling{% endblock %}

{% block extra_styles %}
.incidents {
    color: darkorange;
    text-align: center;
    padding-bottom: 20px;
}

.general{
    color: darkorange;
    text-align: center;
    padding-bottom: 14px;
}

{# dangerous #}
.level-10, .level-8 {
    color: red;
}

.pad-right { padding-right: 22px;}
.sm-pad-rt {padding-right: 6px;}

.level-5 { color: darkred; }

.level-3 { color: blue;}

.level-1 { color: orange; }

.indented { padding: 8px 16px 8px 16px;}

.incident-block { padding: 0 0 16px 0;}

.driver-summary { padding: 8px 16px 8px 16px; font-size:1.2em;}
.incident-summary {font-size:0.80em; padding-top:8px;}

{% endblock %}


{%block navigation %}
  {% if user.is_authenticated %}
    {% include '_nav-loggedin.html' %}
  {% else %}
    {% include '_nav-full.html' %}
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome back {{ user.username }}</p>
<hr>

<!-- ANNOUNCEMENTS IF ANY -->
{% if announcement %}
  {% for a in announcement %}
    <p class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">{{a.the_announcement|safe}}</p>
  {% endfor %}
  <hr>
{% endif %}

<!-- INCIDENTS THAT HAVE OCCURRED IN THE USERS AREA -->
{% if local_incidents %}
<h3 class="incidents"> Incidents Reported In Your Area</h3>
  {% for incident in local_incidents %}
   <div class="incident-block">
    <!-- date -->
    <p><span class="pad-right"><b>{{incident.date|date:"M d, Y" }}</b></span>
    <!-- time, add later -->
    <!-- where -->
    {% if incident.address %}<span style="font-size: 0.92em; font-weight:bold;">{{incident.address}}</span>{% endif %}
    </p>
    <!-- quick driver summary -->
    <div class="driver-summary">
        <span class="sm-pad-rt">Driver categorized as: </span><span class="level-{{incident.danger_assessment}}">{{incident.threat_assessment}}</span>, their actions were <span class="level-{{incident.danger_assessment}}">{{incident.danger_level}}</span>.
        {% if incident.vehicle_description %}
          They were driving a <b>{{incident.vehicle_description}}</b>.
          {% if incident.license_certain %} License plate: <b>{{incident.license_certain}}</b> {% endif %}
          {% if incident.license_uncertain%} License plate may be: <b>{{incident.license_uncertain}}</b>{% endif %}
        {% endif %}

      <div class="incident-summary">{{incident.what|safe|truncatewords:50}} <a href="/incident/show-detail/{{incident.id}}/">read more</a></div>
    </div>
   </div>
  {% endfor %}
  <hr>
{% else %}
<h4 class="incidents" style="padding-top:16px;">Excellent News: No Incidents have been reported in your area!</h4>
<p>You are successfully registered. Any future Incident Reports that are filed in your area will be available to you right here. To get a better idea of how the system works, you can view an Incident from a different location right <a href="/incident/show/CO-141108-001/">here</a>.</p>
  <hr>
{% endif %}

<p class="general"><b>Your Incident Reports</b><br/></p>
{% if incidents %}

  {% for incident in incidents %}
   <div class="incident-block">
    <!-- date -->
    <p><span class="pad-right"><b>{{incident.date|date:"M d, Y" }}</b></span>
    <!-- time, add later -->
    <!-- where -->
    {% if incident.address %}<span style="font-size: 0.92em; font-weight:bold;">{{incident.address}}</span>{% endif %}
    </p>
    <!-- quick driver summary -->
    <div class="driver-summary">
        <span class="sm-pad-rt">Driver categorized as: </span><span class="level-{{incident.danger_assessment}}">{{incident.threat_assessment}}</span>, their actions were <span class="level-{{incident.danger_assessment}}">{{incident.danger_level}}</span>.
        {% if incident.vehicle_description %}
          They were driving a <b>{{incident.vehicle_description}}</b>.
          {% if incident.license_certain %} License plate: <b>{{incident.license_certain}}</b> {% endif %}
          {% if incident.license_uncertain%} License plate may be: <b>{{incident.license_uncertain}}</b>{% endif %}
        {% endif %}

      <div class="incident-summary">
        {{incident.what|safe|truncatewords:50}} <p><a href="/incident/update/{{incident.id}}/">Update/Edit</a></p>
      </div>
    </div>
   </div>
  {% endfor %}
{% else %}
<!-- <p><span class="alpha">Alpha Notice:</span> A list of incidents reported by this user will go here</p> -->
<p>You have not reported any incidents.</p>
{% endif %}
<hr>
{% if news_stories %}
  <p class="general"><b>Recent News</b><br/></p>
  {% for news in news_stories %}
    <p style="padding-bottom: 18px;"><a href="/news/" style="color:black; text-decoration: none;"><em>{{news.title}}</em></a></p>
    {# {% if news.tldr %}<p style="padding: 4px 12px 30px 12px;"><small>{{news.tldr}}</small></p>{% endif %} #}
  {% endfor %}
  <hr>
{% else %}
<!-- <p><span class="alpha">Alpha Notice:</span> Short List of lastest news will go here in future release</p> -->
  <hr>
{% endif %}


<!-- INCIDENTS THAT HAVE OCCURRED *** OUTSIDE OF *** THE USERS AREA -->
{% if recent_incidents %}
<h4 class="incidents"> The Lastest Incident Reports (From All Locations) </h4>
  {% for incident in recent_incidents %}
    <p>
    <span class="pad-right"><b>{{incident.date|date:"M d, Y" }}</b></span>
    <span class="level-{{incident.danger_assessment}} sm-pad-rt">Threat Level: {{incident.threat_assessment}}</span>
    {{incident.address}}
    <a href="/incident/show-detail/{{incident.id}}/">. . . detailed report</a>
  {% endfor %}
  <hr>
{% else %}
<hr>
{% endif %}


{% else %} <!-- else not logged in! -->

{% if announcement %}
  {% for a in announcement %}
    <p class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">{{a.the_announcement|safe}}</p>
  {% endfor %}
{% endif %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 40px;">
<h2>Welcome to the Close Call Database</h2>
<hr>
<h3 style="padding-top: 12px;">A Community Project for Safer Cycling</h3>
  <div class="page-header" style="margin: 26px 0 20px;">

    <h2><small>
    Drivers that are hostile to cyclists are often serial offenders. Cataloging their aggression and documenting their hostility towards cyclists provides important information to fellow cyclists, local police and prosecutors. When you record an incident here, it will be shared with cyclists in your area. When other cyclists report an Incident, it will be shared with you.

    When problem drivers are identified, this site will contact police where the Incidents have occurred so that they can intervene before another tragedy occurs. If that same driver does harm a cyclist at a later date, the information in the Incident Reports will help ensure that justice is served.
    </h2></small>

    <h2><small>
    If you would like to be notified of aggressive drivers in your area, or if you would like to report an incident with a hostile driver simply <a href="/get-strava-login"><img src="/static/images/LogInWithStrava.png"></a> or <a href="/accounts/register/" style="text-decoration: none;">register</a> to create an account.
    </h2></small>

    <h2><small>
    No one is going to solve this problem for us. We have to do it ourselves. So please register and be part of the solution.
    </h2></small>



  </div>
</div>
{% endif %}



{% endblock %}