{% extends "sitebase.html" %}

{% block page_title %}Close Call Database - Login Helper{% endblock %}

{% block metatags %}
<meta name="description" content="A collection of news stories describing driver and motorist infractions against cyclists.">
<meta name="keywords" content="news, cycling, cyclist, database, accidents, incidents, aggressive, drivers">
<meta name="author" content="Ernest Ezis">
{% endblock %}

{% block extra_styles %}
h2 {
    color: black;
}
{% endblock %}

{% block content %}

{% if messages %}
<div class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">
<ul>
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><em><b>{{ message }}</b></em></li>
    {% endfor %}
</ul>
</div>
<br />
{% endif %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">

  <div class="page-header">
    <h2><small>Login Helper</small></h2>
    <hr style="border-color:darkgrey;">
  </div>

  <p>
  Sorry that you seem to have experienced trouble logging into The Close Call Database. This page exists so that I can identify and fix any problems that people might experience while logging in. If you be so kind, please send an email to closecalldatabase@gmail.com using the subject "Login Trouble" and please describe the problem you experienced. If known to you, please include the email address that you used to register.
  </p>
  <p>
  Thank you,

  EAE
  </p>

</div>

{% endblock %}


