{% extends "sitebase.html" %}

{% block page_title %}Privacy{% endblock %}

{% block metatags %}
<meta name="description" content="Privacy Statement">
<meta name="keywords" content="news, cycling, cyclist, database, accidents, incidents, aggressive, drivers">

{% endblock %}

{% block extra_styles %}
h2 small {
    color: black;
}
{% endblock %}

{% block content %}

{% if messages %}
<div class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">
<ul>
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><em><b>{{ message|safe }}</b></em></p>
    {% endfor %}
</ul>
</div>
<br />
{% endif %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">

  <div class="page-header">
    <h2><small>Page Title Stuff Goes Here</small></h2>
    <hr style="border-color:darkgrey;">
  </div>


</div>

{% endblock %}


