{% extends "sitebase.html" %}

{% block page_title %}Privacy{% endblock %}

{% block metatags %}
<meta name="description" content="Privacy Statement">
<meta name="keywords" content="news, cycling, cyclist, database, accidents, incidents, aggressive, drivers">

{% endblock %}

{% block extra_styles %}
h2 small {
    color: black;
}
{% endblock %}

{% block content %}

{% if messages %}
<div class="bg-info" style="padding: 10px 20px; 10px; 20px; color:darkred;">
<ul>
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><em><b>{{ message|safe }}</b></em></p>
    {% endfor %}
</ul>
</div>
<br />
{% endif %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 40px;">

  <div class="page-header">
    <h2><small>Privacy Statement</small></h2>
    <hr style="border-color:darkgrey;">
  </div>

   <div style="line-height: 1.60;">

   <p>I wanted to take a quick moment to post this privacy statement because some people are spooked by Strava's <i>default</i> authorization page which rather than stating what an application does cites, what an application <em>may do</em> including; "Access your activity data" and "Display public data related to those activities." This site does not do that.</p>

   <p>It simply uses Strava's authorization service to create your Close Call Database account quickly and efficiently.</p>

   <p>If future services are added to this site that require more data, it would only happen with your permission, on an opt-in basis. You can also revoke access to this application in your Strava settings.</p>

    <p><em><b>TLDR; you know all that stupid [lack-of] privacy stuff that Facebook does that makes you angry? This site doesn't do any of that and never will.</b></em></p>
   </div>

</div>

{% endblock %}


