{% extends "sitebase.html" %}

{% block page_title %}Support The Close Call Database{% endblock %}

{% block content %}

{# TEST - home.html #}

<div class="jumbotron" style="padding-top: 20px;">

<h1 style="font-weight:600; font-size: 42px; padding-bottom: 28px">Support the Close Call Database</h1>

<iframe class="pull-right" style="width:120px;height:240px;margin-left:26px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ccdb-16-20&marketplace=amazon&region=US&placement=B01FRTK1XE&asins=B01FRTK1XE&linkId=34c15ba9612f4dfdcace05ae0b374036&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
</iframe>

<iframe class="pull-right" style="width:120px;height:240px; margin-left:26px; ri" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ccdb-16-20&marketplace=amazon&region=US&placement=B01JIEL94Y&asins=B01JIEL94Y&linkId=a8290b12db783a3f607db867993cf8fd&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
</iframe>

<p>
When I started the Close Call Database a couple of years ago, I expected to pay the costs myself for about a year; then if it proved worthwhile, I would secure sponsors to help cover the monthly expenses.
</p>

<p>
I was wrong.
</p>

<p>
It turns out that the mission here at Close Call Database isn't very attractive to sponsors because "the site reminds people that cycling is dangerous." It doesn't seem to matter that <em>everyone already knows that cycling is dangerous and that the entire point of the site is to make it less dangerous</em>.
</p>

<p>
If you want to support the database <em>and protect yourself while increasing the likelihood that aggressive drivers are punished for their actions</em>, I encourage you to consider buying a camera using the Amazon ads on this page. After doing this for two years and reviewing about one thousand reports, it is my strong belief that on-bike video cameras are our best bet to improve safety quickly. Drivers are not going to suddenly stop issuing punishment passes because they have the sudden moral revelation that it's not okay to play games of chance with someone else's life. The only thing that's going to stop aggressive drivers is the fear of getting caught and getting punished. When enough cyclists are riding with cameras, drivers are going to start to realize that the possibility of getting caught outweighs their desire to teach us that we "don't belong" on the road.
</p>

<p>
I ride in a state where front license plates are required and I have been very happy with the Fly6. If you live in a state that doesn't require front plates, you might wish to consider a Fly12 instead, or one of the GoPro, or other cameras available.
</p>

<p>
<em>If you you live in CA, please note that your fine legislators worked extra hard to ensure that your three foot law was nearly useless</em>. And they succeeded. In CA, a three-foot violation must be witnessed by a peace officer and seems to specifically disallow video evidence. It's still useful to capture other offenses and to protect yourself and prove your innocence in a collision and other situations, but until you pressure your politicians to change the ridiculous three foot law that they enacted, it's unlikely that video of even egregiously dangerous passes will result in any citations.
</p>


</div>

{% endblock %}