<div class="panel panel-default" style="margin-top: 28px;">
  <div class="panel-heading">
    <h3 class="panel-title">Geographic Distribution of the Close Call Database Community - Second View</h3>
  </div>
  <div class="panel-body" style="font-size:1.2em; line-height:1.55;">
    This is a second view of database membership. Each dot represents at least one cyclist per city or zip code. But there are often many cyclists represented by a single dot because they are clustered together; so the Boulder-Denver area has hundreds of registrations, but will only show about ~30 dots.
  </div>
</div>


<div class="jumbotron" style="margin-top: 10px; padding-top: 30px; margin-bottom: 10px; padding-bottom: 40px;">

<iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col0+from+1kkG-JAOLZFp85VWIFZ0N75hnF-_xHFnlkWNSGJ1f&amp;viz=MAP&amp;h=false&amp;lat=39.603641326430605&amp;lng=-104.24564615546865&amp;t=1&amp;z=2&amp;l=col0&amp;y=2&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe>
</div>