{% comment %}
This is a super simple line, but it appears in the user-authenticated and the user-unauthenicated.html templates
so I 'DRY'ed it out and put it here just to be safe
{% endcomment %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Geographic Distribution of the Close Call Database Community</h3>
  </div>
  <div class="panel-body" style="font-size:1.2em; line-height:1.55;">

{% if user.is_authenticated %}

    <div>
     <b>The database's effectiveness increases with membership and coverage</b>. The map below shows the location of currently registered users. You can see that most users are concentrated in the United States and Great Britain but the service also has traction in other parts of the world. If there is nobody in your country or area, don't be discouraged: every single country and location started off at zero. So just sign up, and encourage your cycling buddies to do the same. <span style="color:darkred; font-weight: 600;">To get the most out of this service, you want to encourage other cyclists <em>in your area</em> to join</span>. That's how you get 'eyes and ears' out on the road.
     </div>

    <div style="margin-top: 12px;">
     To explore the map, click on the round "cluster target" closest to your area or the area you wish to investigate. That will allow you to drill down and see your local membership numbers. Note that reporting radius will typically encompass a 60 mile radius -- so the number two clicks into the map in your area is pretty representative of other cyclists in your "network", but you can drill in deeper. If you drill in all the way, the final numbers are assigned to a city or zip code's geographic center.
     </div>

  </div>
</div>

    <div id="map-container"><div id="map"></div></div>

    {% include 'user-old-map.html' %}


{% else %}

    <div>
    <b>The database's effectiveness increases with membership and coverage</b>. So if you are a cyclist and you and you have read this far, and still haven't joined . . . <em>then you are not helping! At all! Not even a little bit!</em> &nbsp;This thing only works if you join, <em>capiche?</em>
    </div>

    <div style="margin-top: 12px;">
     The map below shows the location of currently registered users. You can see that most users are concentrated in the United States and Great Britain but the service also has traction in other parts of the world. If there is nobody in your country or area, don't be discouraged: every single country and location started off at zero. So just sign up, and encourage your cycling buddies to do the same. <span style="color:darkred; font-weight: 600;">To get the most out of this service, you want to encourage other cyclists <em>in your area</em> to join</span>. That's how you get 'eyes and ears' out on the road.
     </div>

    <div style="margin-top: 12px;">
     To explore the map, click on the round "cluster target" closest to your area or the area you wish to investigate. That will allow you to drill down and see your local membership numbers. Note that reporting radius will typically encompass a 60 mile radius -- so the number two clicks into the map in your area is pretty representative of other cyclists in your "network", but you can drill in deeper. If you drill in all the way, the final numbers are assigned to a city or zip code's geographic center.
     </div>

  </div>
</div>
    <div id="map-container"><div id="map"></div></div>

    {% include 'user-old-map.html' %}





{% endif %}


