{% extends "sitebase.html" %}

{% block title %}Welcome to The Close Call Database{% endblock %}

{%block navigation %}{% include '_nav-loggedin.html' %} {% endblock %}

{% block content %}

<div class="jumbotron" style="margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
<h2>Welcome</h2>
  <hr>

  <div class="page-header">

    <h2><small>
    You are now signed in:
    </small></h2>

    <h2><small>
    Add an incident
    </small></h2>

    <h2><small>
    incidents in your area
    </small></h2>
  </div>

</div>




{% endblock %}