{% extends "sitebase.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Account Details and Preferences{% endblock %}

{%block navigation %}{% include '_nav-activate.html' %} {% endblock %}

{% block content %}

<div class="row-fluid">
<h3 style="padding-top:12px;">Please Complete Your Profile</h3>
<br />
</div>
<div class="col-sm-4">
<form action="" method="POST">
  {% csrf_token %}

      {{ form|crispy }}
      <input type="submit" class="btn btn-default" value=" Submit " />

</form>
</div>

{% endblock %}
